services:
  github-backup:
    build: .
    container_name: github-backup-service
    restart: unless-stopped
    environment:
      - GITHUB_USER=${GITHUB_USER}
      - GITHUB_TOKEN=${GITHUB_TOKEN}
      # - GITHUB_TOKEN_FILE=/run/secrets/gh_token
      - BACKUP_SCHEDULE=0 5 * * * # Every day at 5:00 AM. CRON FORMAT: Minute Hour Day Month DayOfWeek
    volumes:
      - ${DATA_DIR:-./data/backups}:/backups
      # - ./secrets/gh_token.txt:/run/secrets/gh_token:ro