services:
  github-backup:
    build: .
    container_name: github-backup-service
    restart: unless-stopped
    environment:
      - GITHUB_USER=${GITHUB_USER}
      - GITHUB_TOKEN=${GITHUB_TOKEN}
      - BACKUP_SCHEDULE=${BACKUP_SCHEDULE} # CRON FORMAT: Minute Hour Day Month DayOfWeek. Example 0 5 * * * # Every day at 5:00 AM.
    volumes:
      - ${DATA_DIR:-./data/backups}:/backups